footer .container{
    display: flex;
    justify-content: space-between;
    background: #151515;
    border-bottom: 1px solid #222222;
    display: flex;
    padding: 10px 50px;
    
}


footer .container .section-one{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 20px;
}
footer .container .section-one .top a{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: white; 
    cursor:default;
}

footer .container .section-one .top  img{
    max-height: 60px;
}

footer .container .section-one .center  {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "irsans", irsans, sans-serif;
    color: #fff;
    text-align: justify;
    margin-bottom: 30px;

}

footer .container .section-one .bottom a {
    font-size: 18px;
    display: inline-block;
    background: #292929;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 20px;
    transition: 0.3s;
}

footer .container .section-two{
    width: 30%;
    margin-top: 10px;
}

footer .container .section-two h3{
    font-size: 15px;
    color: #fff;
    padding-bottom: 12px;
    font-weight: 600;
}

footer .container .section-two   ul{
    list-style: none;
    padding: 10px;
  }

  footer .container .section-two  ul li{
    color:rgb(207, 207, 207);  
    margin-top: -5px;
    transition: ease-in-out 0.3s;
  
  }
  footer .container .section-two  ul a{
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
  }
  footer .container .section-two  ul a i{
    color:var(--color-object);  
    margin-left: 10px;
  }


  footer .container .section-three{
    width: 30%;
    margin-top:10px;
}

footer .container .section-three h3{
    font-size: 15px;
    color: #fff;
    padding-bottom: 12px;
    font-weight: 600;
}

footer .container .section-three   ul{
    list-style: none;
    padding: 10px;
  }

  footer .container .section-three  ul li{
    color:rgb(207, 207, 207);  
    margin-top: -5px;
    transition: ease-in-out 0.3s;
  
  }
  footer .container .section-three  ul a{
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
  }
  footer .container .section-three  ul a i{
    color:var(--color-object);  
    margin-left: 10px;
  }

  footer .container .section-four .top h4{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 13px;
  }

  footer .container .section-four .top p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  footer .container .section-four .bottom form{
  margin-top: 30px;
  background: #fff;
  padding: 3px;
  position: relative;
  border-radius: 4px;
  }
  footer .container .section-four .bottom form input{
    border: 0;
    padding: 9px;
    width: 220px;
  }
  footer .container .section-four .bottom form button{
    position: absolute;
    width: 100px;
    top: 0;
    left: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    background: var(--color-object);
    color: #151515;
    transition: 0.3s;
    border-radius: 5px 0 0 5px;
    cursor:pointer;
    font-weight: 600;
    font-family: irsans;
  }
  footer .footerbox{
   background-color: black;
   padding: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  footer .footerbox span{
    color: #fff;
    font-size: 14px;
  }
  footer .footerbox a{
    color: var(--color-object);
    text-decoration: none;
  }

  /*start hover footer*/
   .container .section-one .bottom a:hover  {
    background: var(--color-object);
    color: black;
}
.container .section-two  ul li:hover{
    color: var(--color-object);
}
.container .section-three  ul li:hover{
    color: var(--color-object);
}
 .container .section-four .bottom form button :hover{
    background: #e4e73e;
}
 /*end hover footer*/

 @media(max-width:990px){
  footer .container{
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  footer .container .section-one{
    width: 50%;
  }
  footer .container .section-two{
    width: 50%;
  }
  footer .container .section-three{
    width: 50%;
  }
  footer .container .section-four{
    width: 50%;
  }
 }
 @media(max-width:660px){
  footer .container{
    flex-direction: column;
    justify-content: flex-start;
  
  }
  footer .container .section-four{
    width: 100%;
    margin-bottom: 25px;
  }
  footer .container .section-one,  footer .container .section-two,  footer .container .section-three{
    width: 100%;
  }
}